<?xml version="1.0"?>

<launch>
    
    <param name="mode" value="field" />
    <param name="arm" value="right" />
    <node name="robot_interface_njllrd" pkg="njllrd_proj3" type="robot_interface_njllrd.py"
        output="screen" />
  
    <node name="controller_njllrd" pkg="njllrd_proj3" type="controller_njllrd.py" 
        output="screen" />

    <node name="vision_njllrd" pkg="njllrd_proj3" type="vision_njllrd.py" 
        output="screen" />

  
</launch>

